@Styles.Render("~/Content/Index.css")
@{
    Layout = null;
}
<div class="left_main">
    <img class="left_header" src="/Images/images@(Common.imgPrefix)/index_r3_c1.jpg" />
    <div class="left_button" >
        <img border="0" class="mouseout" src="/Images/images@(Common.imgPrefix)/index_r7_c2.jpg" width="168px" height="26px" onmouseover='this.className="mouseover"' onmouseout='this.className="mouseout"' /></a>
    </div>
    <div class="left_button">
        <img border="0" class="mouseout" src="/Images/images@(Common.imgPrefix)/index_r9_c2.jpg" width="168px" height="26px" onmouseover='this.className="mouseover"' onmouseout='this.className="mouseout"' onclick="" /></a>
    </div>
    <div>
        @*--------------------------tree view---------------------------------------*@
    </div>
    <div class="left_button">
        <img border="0" class="mouseout" src="/Images/images@(Common.imgPrefix)/index_r16_c2.jpg" width="168px" height="26px" onmouseover='this.className="mouseover"' onmouseout='this.className="mouseout"' /></a>
    </div>
    <div class="left_button">
        <img border="0" class="mouseout" src="/Images/images@(Common.imgPrefix)/jyds.jpg" width="168px" height="26px" onmouseover='this.className="mouseover"' onmouseout='this.className="mouseout"'/></a>
    </div>
    <div class="left_button">
        <img border="0" class="mouseout" src="/Images/images@(Common.imgPrefix)/index_r19_c2.jpg" width="168px" height="26px" onmouseover='this.className="mouseover"' onmouseout='this.className="mouseout"'/></a>
    </div>
    <div class="left_button">
        <img border="0" class="mouseout" src="/Images/images@(Common.imgPrefix)/index_r21_c2.jpg" width="168px" height="26px" onmouseover='this.className="mouseover"' onmouseout='this.className="mouseout"' /></a>
    </div>
    <div class="left_button">
        <img border="0" class="mouseout" src="/Images/images@(Common.imgPrefix)/index_r23_c2.jpg" width="168px" height="26px" onmouseover='this.className="mouseover"' onmouseout='this.className="mouseout"'/></a>
    </div> 
</div>
    

